@font-face {
  font-family: Montserrat;
  src: url('../../../assets/Montserrat-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if needed */
}

@font-face {
  font-family: ProyectoCafe2-Regular;
  src: url('../../../assets/PROYECTOCAFE2-REGULAR.TTF') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if needed */
}

.card {
  font-family: ProyectoCafe2-Regular, sans-serif; /* Use ProyectoCafe2-Regular as primary font */
  font-size: 22px;
  color: #e74615;
  width: calc(48% - 10px); /* Subtract horizontal margin */
  border-color: #7591c9;
  border-style: solid;
  border-width: 0 2px; /* Border only on left and right sides */
  margin: 1%; /* Add margin to separate cards */
  margin-bottom: 1%; /* Add margin to separate cards */
  object-fit: cover; /* Image adjusts to container while maintaining aspect ratio */
  background-image: url('https://res.cloudinary.com/dwcp7dk9h/image/upload/v1713458263/hafkkk1uhvyuhvdkfwcb.png');
  background-size: cover; /* Adjust background image size to cover the card */
  background-position: center; /* Center the background image */
}

.img {
  border-color: #7591c9;
  border-style: solid;
  border-width: 2px; /* Border only on left and right sides */
  width: 95%; /* Image takes up full width of container */
  height: 180px;
  object-fit: cover; /* Image adjusts to container while maintaining aspect ratio */
}

.imageContainer {
  position: relative;
}

.descriptionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* White background with 50% opacity */
}

.description {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #e74615;
  text-align: center;
  z-index: 1; /* Ensure description is above the overlay */
  /* background-color: #7591c9; */
}

/* Admin Tools - Gear Icon and Switch */
.adminTools {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust as needed */
}

.adminTools span {
  font-size: 24px;
  margin-right: 5px; /* Space between gear icon and switch */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
